<launch>
  <master auto="start"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find kmi_navigation)/maps/north_wing_complete_3_border.yaml"/>

  <!--- Run AMCL -->
  <include file="$(find kmi_localisation)/launch/amcl.launch">
	<arg name="initial_pose_x"  value="0"/>
    	<arg name="initial_pose_y"  value="0"/>
	<arg name="initial_pose_a"  value="0"/>
    	<!-- used for stage -->
    	<arg name="scan_topic"      value="/scan"/>
    	<arg name="odom_frame_id"   value="odom"/>
    	<arg name="base_frame_id"   value="base_link"/>
    	<arg name="global_frame_id" value="map"/>
  </include>

  <!-- run move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find irobotcreate_2dnav)/configs/kmi_robotics_lab_costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find irobotcreate_2dnav)/configs/kmi_robotics_lab_costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find irobotcreate_2dnav)/configs/kmi_robotics_lab_local_costmap_param.yaml" command="load" />
    <rosparam file="$(find irobotcreate_2dnav)/configs/kmi_robotics_lab_global_costmap_param.yaml" command="load" />
    <rosparam file="$(find irobotcreate_2dnav)/configs/stage_base_local_planner_params.yaml" command="load" />
  </node>
</launch>
