<launch>
  <param name="/use_sim_time" value="true"/>
  
  <node pkg="stage_ros" type="stageros" name="stageros" args="/home/bender/Projects/ros/indigo/kmi_catkin_workspace/src/kmi_navigation/maps/north_wing_complete_3_border.world" respawn="false" output="screen">
    <param name="base_watchdog_timeout" value="0.2"/>
    <remap from="/base_scan" to="/scan" />
  </node>

</launch>
